<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>MENU</title>
</head>

<body background="images/lg4.jpg">

<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td width="87" style="border-style: none; border-width: medium">&nbsp;</td>
		<td style="border-style: none; border-width: medium">
		<img border="0" src="images/lg2.png" width="42" height="23"></td>
		<td width="75" style="border-style: none; border-width: medium" bgcolor="#FF3399">
		<p align="center">MENU</td>
		<td width="73" style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>
<p>&nbsp;</p>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td width="90" style="border-style: none; border-width: medium">&nbsp;</td>
		<td width="281" bgcolor="#FFFFFF" style="border-style: none; border-width: medium">
		<p align="center"><b><font color="#FF3399">Menangkan 1 Set <br>
		LG HOME APPLIANCES!</font></b></p>
		<p align="center">&nbsp;</td>
		<td style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td style="border-style: none; border-width: medium">
		<table border="1" width="112%" style="border-width: 0px">
			<tr>
				<td style="border-style: none; border-width: medium">&nbsp;</td>
				<td width="664" style="border-style: none; border-width: medium">
				<p align="center"><b><font size="5" color="#C0C0C0">Once Upon A 
				Time, Me and LG...</font></b></p>
				<p align="center">Selalu ada saat pertama untuk segalanya. <br>
				Termasuk saat pertama Anda menggunakan LG. <br>
				Ingin berbagi kesan dan cerita singkat Anda bersama <br>
				LG hingga saat ini?</td>
			</tr>
			<tr>
				<td style="border-style: none; border-width: medium">&nbsp;</td>
				<td width="664" style="border-style: none; border-width: medium">
				<table border="1" width="100%" style="border-width: 0px">
					<tr>
						<td width="222" style="border-style: none; border-width: medium">&nbsp;</td>
						<td width="217" style="border-style: none; border-width: medium" bgcolor="#FF3399">
						<p align="center"><font color="#FFFFFF"><a href="submenu1.htm">YA, MULAI CERITA 
						SAYA</a></font></td>
						<td style="border-style: none; border-width: medium">&nbsp;</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
		<td width="583" style="border-style: none; border-width: medium">
		<table border="1" width="70%" style="border-width: 0px">
			<tr>
				<td style="border-style: none; border-width: medium">
				<p align="center"><b><font size="5" color="#C0C0C0">Start A New 
				Day With LG</font></b></p>
				<p align="center">Lengkapi ruang kosong di rumah Anda dengan <br>
				sentuhan inovatif dari LG. <br>
				Siap mengisi ruang kosong Anda?<br>
&nbsp;</td>
			</tr>
			<tr>
				<td style="border-style: none; border-width: medium">
				<table border="1" width="100%" style="border-width: 0px">
					<tr>
						<td width="106" style="border-style: none; border-width: medium">&nbsp;</td>
						<td width="174" style="border-style: none; border-width: medium" bgcolor="#FF3399">
						<p align="center"><font color="#FFFFFF"><a href="submenu2.htm">TENTU SAJA</a></font></td>
						<td style="border-style: none; border-width: medium">&nbsp;</td>
					</tr>
				</table>
				</td>
			</tr>
		</table>
		</td>
	</tr>
</table>
<p>&nbsp;</p>

</body>

</html>
