<html>

<head>
<meta http-equiv="Content-Language" content="en-us">
<meta http-equiv="Content-Type" content="text/html; charset=windows-1252">
<title>MENU</title>
</head>

<body>

<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td style="border-style: none; border-width: medium">&nbsp;</td>
		<td style="border-style: none; border-width: medium">
		<img border="0" src="images/lg2.png" width="70" height="37"></td>
		<td width="81" style="border-style: none; border-width: medium" bgcolor="#FF0066">
		<p align="center"><font color="#FFFFFF">MENU</font></td>
		<td width="59" style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td style="border-style: none; border-width: medium">&nbsp;</td>
		<td style="border-style: none; border-width: medium">
		<p align="center"><b><font size="4" color="#FF0066">Gallery</font></b></p>
		<p align="center"><font size="2">Ini adalah sahabat sahabat LG yang 
		sudah berbagi cerita dengan kami. Anda juga dapat berbagi cerita<br>
		dan kesan. Karena selalu ada cerita di balik</font></td>
		<td style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td style="border-style: none; border-width: medium">&nbsp;</td>
		<td width="974" style="border-style: none; border-width: medium">
		<img border="0" src="images/lg1.jpg" width="940" height="327"></td>
		<td width="159" style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td width="66" style="border-style: none; border-width: medium">&nbsp;</td>
		<td style="border-style: none; border-width: medium">
		<img border="0" src="images/a.jpg" width="205" height="180"></td>
		<td width="256" style="border-style: none; border-width: medium">
		<img border="0" src="images/b.jpg" width="238" height="212"></td>
		<td width="302" style="border-style: none; border-width: medium">
		<img border="0" src="images/c.jpg" width="302" height="167"></td>
		<td width="346" style="border-style: none; border-width: medium">
		<img border="0" src="images/d.jpg" width="322" height="127"></td>
		<td width="72" style="border-style: none; border-width: medium">&nbsp;</td>
	</tr>
</table>
<div style="border-bottom-style: solid; border-bottom-width: 1px; padding-bottom: 1px">
&nbsp;</div>
<p>&nbsp;</p>
<table border="1" width="100%" style="border-width: 0px">
	<tr>
		<td width="65" style="border-left-style: none; border-left-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">&nbsp;</td>
		<td style="border-style: solid; border-width: 1px">
		<img border="0" src="images/a.jpg" width="205" height="180"></td>
		<td width="296" style="border-style: solid; border-width: 1px">
		<img border="0" src="images/b.jpg" width="238" height="212"></td>
		<td width="302" style="border-style: solid; border-width: 1px">
		<img border="0" src="images/c.jpg" width="302" height="167"></td>
		<td width="251" style="border-style: solid; border-width: 1px">
		<img border="0" src="images/d.jpg" width="251" height="127"></td>
		<td width="71" style="border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">&nbsp;</td>
	</tr>
	<tr>
		<td width="65" style="border-left-style: none; border-left-width: medium; border-right-style: solid; border-right-width: 1px; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">&nbsp;</td>
		<td style="border-bottom-style: solid; border-bottom-width: 1px">
		<img border="0" src="images/c.jpg" width="302" height="167"></td>
		<td width="296" style="border-bottom-style: solid; border-bottom-width: 1px">
		<img border="0" src="images/d.jpg" width="296" height="127"></td>
		<td width="302" style="border-bottom-style: solid; border-bottom-width: 1px">
		<img border="0" src="images/a.jpg" width="205" height="180"></td>
		<td width="251" style="border-bottom-style: solid; border-bottom-width: 1px">
		<img border="0" src="images/b.jpg" width="238" height="212"></td>
		<td width="71" style="border-left-style: solid; border-left-width: 1px; border-right-style: none; border-right-width: medium; border-top-style: none; border-top-width: medium; border-bottom-style: none; border-bottom-width: medium">&nbsp;</td>
	</tr>
</table>

</body>

</html>
